<div 
id="sign_in_modal" 
class="modal" 
data-spa_type="modal" 
data-spa_url="/sign-in" 
data-spa_parent="body"
data-spa_url_origin="/"
data-page_title="Sign in / Twibber"

>

  <form id="sign_in_form">
    <div class="top">
      <div class="x" onclick="closeSpaModal()">
        <!--  -->
        % include("icons/x.svg")
        <!--  -->
      </div>
      <div class="form_logo">
        <!--  -->
        % include("icons/logo.svg")
        <!--  -->
      </div>
    </div>
    <div class="form_grid">
      <h2>Sign in</h2>
      <label>
        <input name="user_email" type="email" placeholder=" " pattern='^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))' required />
        <div class="placeholder">Email</div>
        <!-- <p class="error_message">Please enter a valid email</p> -->
      </label>

      <label>
        <input name="user_password" type="password" placeholder=" " pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d\w\W]{8,}" required />
        <div class="placeholder">Password</div>
        <!-- <p class="requirements">Minimum eight characters, at least one uppercase letter, one lowercase letter and one number.</p> -->
        <a href="#" onclick="return false">Forgot password?</a>
      </label>

      <button onclick="formValidation( postSession )">Sign in</button>

      <p>Don't have an account? <a href="/sign-up" onclick="spa('/sign-up', 'body'); return false">Sign up</a></p>
    </div>
  </form>
</div>
