% if not is_xhr:
  % include("head", page_title = "Home")
% end

% ####### Modals

% ####### Modals end

% if not is_xhr:
<main id="main_page">
  %include("parts/left")
  <div id="center">
% end


  % ####### Feed

  <div id="feed" data-spa_url="{{ spa_url }}" data-spa_type="feed">
    <header>
      <h1>Home</h1>
    </header>

    % include("parts/create_tweeb_form", rows = 1)

    % for tweeb in tweebs:
      % include("parts/tweeb", tweeb = tweeb)
    % end
  </div>
  
  % ####### Feed end



% if not is_xhr:
  </div>
  %include("parts/right")
</main>
% include("footer")
% end

