<form class="create_tweeb_form">
  <div class="user_icon">
    % if session["user_icon_image"]:
      <img src="/assets/images/{{ session['user_icon_image'] }}">
    % else:
      {{ session["user_tag"][0:1].capitalize() }}
    % end
  </div>
  <div class="container">
    <label>
      <textarea
        oninput="validateTextArea()"
        name="tweeb_text"
        rows="1"
        minlength="1"
        maxlength="100"
        required
        placeholder="What's happening?"
      ></textarea>
      <div class="counter"><span>0</span>/100</div>
    </label>
    <div class="action_bar">
      <div>
        <label>

          % include("icons/add_image.svg")
          
          <input type="file" name="tweeb_image" accept=".png, .jpg, .jpeg" onchange="loadTweebImage()" />
        </label>
      </div>
      <button onclick="formValidation( postTweeb )">Tweeb</button>
    </div>
  </div>
</form>
