<div id="left">
  <ul>


    <li>
      % if session:
      <a href="/home" onclick="spa('/home')" class="logo">
      % else:
      <a href="/" class="logo">
      % end
      % include("icons/logo.svg")
      </a>
    </li>



    % if session:
    <li>
      <a href="/home" onclick="spa('/home')" class="home">
        % include("icons/slim/home.svg")
        % include("icons/bold/home.svg")
        <p>Home</p>
      </a>
    </li>
    % end
    


    <li>
      <a href="/explore" onclick="spa('/explore')">
        % include("icons/slim/hashtag.svg")
        % include("icons/bold/hashtag.svg")
        <p>Explore</p>
      </a>
    </li>



    % if session:
    <li>
      <a href="#" onclick="return false">
        % include("icons/slim/bell.svg")
        <p>Notifications</p>
      </a>
    </li>
    <li>
      <a href="#" onclick="return false">
        % include("icons/slim/message.svg")
        <p>Messages</p>
      </a>
    </li>
    <li>
      <a href="/{{ session['user_tag'] }}" onclick="spa(`/{{ session['user_tag'] }}`)" class="profile">
        % include("icons/slim/user.svg")
        % include("icons/bold/user.svg")
        <p>Profile</p>
      </a>
    </li>
    <li>
      <a href="#" onclick="return false">
        % include("icons/slim/dots.svg")
        <p>More</p>
      </a>
    </li>
    <li><button onclick="spa('/compose/tweeb', 'body')" >
      % include("icons/tweeb.svg") 
      <span>Tweeb</span>
    </button></li>
    % end
  </ul>

  % if session:
  <div class="user">
    <div class="pop_up">
      <div class="content">
        <a href="/sign-out">Sign out</a>
      </div>
    </div>
    <div class="user_icon">{{ session["user_tag"][0:1].capitalize() }}</div>
    <div class="user_info">
      <p class="name">{{ session["user_first_name"] }} {{ session["user_last_name"] }}</p>
      <p class="tag">@{{ session["user_tag"] }}</p>
    </div>
    <span>···</span>
  </div>
  % end
</div>
