
// Form css logic
form {
    & .placeholder {
      left: 0.5rem;
      font-size: 0.93rem;
      transform-origin: top left;
      transform: translateY(0.7rem);
      transition: transform 0.2s;
      color: $placeholder;
    }
    & .counter {
      right: 0.5rem;
      font-size: 0.81rem;
      display: none;
      color: $placeholder;
    }
    & [name="user_first_name"],
    & [name="user_last_name"] {
      text-transform: capitalize;
    }
    & input:focus {
      outline: 2px solid $blue;
      border: 1px solid transparent;
    }
    & input:focus ~ .counter {
      display: block;
    }
    & input:focus + .placeholder {
      color: $blue;
    }
    & input:focus + .placeholder,
    & input:not(:placeholder-shown) + .placeholder {
      transform: scale(0.81);
    }
    & input:invalid:not(:placeholder-shown):not(:focus),
    & .error_400 input:not(:focus) {
      border: 1px solid $red;
    }
    & .error_message,
    & .custom_error {
      color: $red;
      font-size: 0.82rem;
      margin-top: 0.2rem;
    }
    & .error_message,
    .error_message.hide {
      display: none;
    }
    & input:invalid:not(:placeholder-shown):not(:focus) ~ .error_message,
    & .error_400 .error_message {
      display: block;
    }
    & .requirements {
      color: $placeholder;
      font-size: 0.82rem;
      margin-top: 0.3rem;
      max-width: 60ch;
    }
    & input:invalid:not(:placeholder-shown):not(:focus) ~ .requirements {
      color: $red;
    }
    & button:hover,
    & button:focus {
      opacity: 0.85;
    }
    &:invalid button {
      opacity: 0.4;
      pointer-events: none;
      box-shadow: none;
    }
  }
  