body {
  font-size: 0.93rem;
  font-family: arial, sans-serif;
  min-height: 100vh;
  overscroll-behavior: none;
}
.hide {
  display: none !important;
}

.user_icon.has_img {
  background: none;
}

.user_icon img {
  width: inherit;
  height: inherit;
  border-radius: 9999px!important;
  border: inherit;
}
