@import "vars";

#main_page {
  display: flex;
  justify-content: center;
}

#left {
  position: sticky;
  top: 0;
  width: 100%;
  max-width: 275px;
  padding: 0 0.75rem 0.75rem 0.75rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  z-index: 2;

  //
  //
  // LIST OF LINKS (TOP PART)
  & ul a:not(.logo) {
    display: inline-flex;
    align-items: center;
    padding: 0.75rem;
    border-radius: $round_radius;
    transition: background 0.3s;
    margin-bottom: 0.3rem;
    &:hover {
      background: $tint-light;
    }
  }
  & svg {
    width: 26px;
  }
  & .logo svg {
    fill: $blue;
    width: 54px;
    padding: 0.75rem;
    border-radius: 100%;
    transition: background 0.3s;
    pointer-events: all;
    &:hover {
      background: $blue_light;
    }
  }
  & ul p {
    font-size: 1.25rem;
    margin: 0 1.25rem;
  }
  & .current {
    font-weight: 700;
  }
  & svg:nth-child(2),
  & .current svg:nth-child(1) {
    display: none;
  }
  & .current svg:nth-child(2) {
    display: block;
  }
  & button {
    margin-top: 0.75rem;
    font-weight: 700;
    background: $blue;
    padding: 1rem 5.4rem;
    font-size: 1.06rem;
    color: white;
    border-radius: $round_radius;
    box-shadow: $main-shadow;
    transition: background 0.3s;
    &:hover {
      background: $blue_dark;
    }
    & svg {
      fill: white;
      display: none;
    }
  }

  //
  //
  // USER BUTTON (BOTTOM PART)
  & .user {
    border-radius: $round_radius;
    display: flex;
    align-items: center;
    padding: 0.75rem;
    cursor: pointer;
    transition: background 0.3s;
    position: relative;
    &:hover {
      background: $tint-light;
      & .pop_up {
        display: block;
      }
    }

    & .pop_up {
      position: absolute;
      bottom: 3.5rem;
      padding-bottom: 1rem;
      left: 0;
      display: none;


      & .content {
        width: 251px;
        background: white;
        box-shadow: $main-shadow;
        padding: 0.75rem 0;
        border-radius: 1rem;
      }

      & a {
        padding: 1rem;
        display: block;
        &:hover {
          background: $tint_blue;
        }
      }

    }

    & .user_icon {
      width: 2.5rem;
      height: 2.5rem;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      background-color: $blue;
      border-radius: $round_radius;
      color: white;
      font-size: 1.3rem;
      font-weight: 300;
    }

    & .user_info {
      flex: 1;
      margin: 0 0.75rem;

      & p {
        max-width: 143px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }

    & .name {
      font-size: 0.93rem;
      font-weight: 700;
    }
    & .tag {
      font-size: 0.93rem;
      color: $placeholder;
      margin-top: 0.1rem;
    }

    & span {
      font-size: 1.25rem;
      color: $placeholder;
    }
  }
}

@media only screen and (max-width: 1260px) {
  #left {
    width: auto;
    & li {
      width: auto;
      display: flex;
      justify-content: center;
      margin-bottom: 5px;
    }
    & li p {
      display: none;
    }
    & button {
      padding: 0;
      width: 3.125rem;
      height: 3.125rem;
      display: flex;
      justify-content: center;
      align-items: center;
      & span {
        display: none;
      }
      & svg {
        display: block;
      }
    }
    & .user {
      width: 100%;
      padding: 10px;
      & .user_info,
      & span {
        display: none;
      }
    }
  }
}

@media only screen and (max-width: 1010px) {
  #left {
    padding: 0 0.25rem 0.75rem 0.25rem;
  }
}

#feed {
  width: 598px;
  min-height: 100vh;
  border-left: 1px solid $tint;
  border-right: 1px solid $tint;

  & > div {
    height: 100%;
  }

  & header {
    position: sticky;
    top: 0;
    background: rgba(255, 255, 255, 0.85);
    backdrop-filter: blur(4px);
    z-index: 5;
  }
  & h1 {
    font-size: 1.25rem;
    padding: 1rem;
  }

  & .profile_section {
    & .cover {
      height: 200px;
      background: $tint-dark;
      position: relative;
    }
    & .user_icon {
      position: absolute;
      top: 65%;
      left: 1rem;
      width: 135px;
      height: 135px;
      background: $blue;
      border-radius: $round_radius;
      border: 4px solid white;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      font-size: 4rem;
      &.e204 {
        background: $tint_blue;
      }
    }
    & .action_bar {
      display: grid;
      margin: 1rem;
      height: 50px;
      & form {
        place-self: start end;
      }
      & button {
        background: black;
        color: white;
        font-weight: 700;
        border-radius: $round_radius;
        padding: 0.5rem 1rem;
      }
      & .unfollow {
        background: white;
        color: black;
        border: 1px solid $tint;
        position: relative;
        transition: border-color 0.2s;
        &:hover {
          border-color: $red_light;
          opacity: 1;
        }
        &::before {
          content: "Unfollow";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          justify-content: center;
          align-items: center;
          background: white;
          border-radius: inherit;
          display: none;
          color: $red;
          transition: background 0.2s;
        }
        &:hover::before {
          background: $red_opa;
          display: inline-flex;
        }
      }
    }
    & .user_info {
      padding: 0 1rem 0.75rem 1rem;
      & h2 {
        font-size: 1.25rem;
        display: flex;
        & svg {
          fill: $blue;
          width: 20px;
          margin-left: 0.2rem;
        }
      }
      & h3 {
        font-size: inherit;
        color: $placeholder;
        font-weight: 500;
      }
    }
  }

  .user_204 {
    margin: 72px 120px;

    & p:first-child {
      font-size: 2rem;
      font-weight: 700;
    }
    & p:last-child {
      color: $placeholder;
      margin-top: 0.75rem;
    }
  }
}
@media only screen and (max-width: 1200px) {
  #feed {
    max-width: 598px;
  }
}
@media only screen and (max-width: 988px) {
  #feed {
    margin-right: 68px;
  }
}

#right {
  width: 350px;
  margin-left: 2rem;
  margin-bottom: 1rem;

  //
  //
  // SEARCH BAR
  & form {
    background: white;
    position: sticky;
    top: 0;
    padding: 0.3rem 0;
  }
  & label {
    width: 100%;
    display: flex;
    background: $tint_blue;
    border-radius: $round_radius;
    position: relative;
  }
  & svg {
    width: 1.1rem;
    left: 1rem;
    top: 0.65rem;
    fill: $placeholder;
    position: absolute;
  }
  & input {
    font-size: 0.9rem;
    width: 100%;
    padding: 0.75rem 0.75rem 0.75rem 3.25rem;
    background: $tint_blue;
    border: 1px solid $tint_blue;
    border-radius: $round_radius;
    outline: none;
    &::placeholder {
      color: $placeholder;
    }
    &:focus {
      border: 1px solid $blue;
      background: white;
    }
    &:focus ~ svg {
      fill: $blue;
    }
  }

  //
  //
  // SIGN IN OR UP SECTION
  & #sign_up_or_in {
    padding: 0.75rem 1rem;
    border: 1px solid $tint;
    border-radius: $form_radius;
    margin-top: 0.7rem;
    & p {
      color: $placeholder;
      font-size: 0.81rem;
      margin-top: 0.75rem;
    }
    & h2 {
      font-size: 1.25rem;
    }
    & button {
      font-weight: 700;
      margin-top: 0.75rem;
      border: 1px solid $tint-dark;
      padding: 0.7rem;
      width: 300px;
      border-radius: $round_radius;
      transition: background 0.3s;
      &:hover {
        background: $tint;
      }
    }
  }

  //
  //
  // TRENDS + WHO TO FOLLOW (GENERALS)
  & ul {
    margin-top: 1rem;
    border-radius: $form_radius;
    background: $tint_blue;
    overflow: hidden;
  }
  & ul h2 {
    font-size: 1.25rem;
    padding: 0.75rem 1rem;
  }
  & li,
  & .more_btn {
    padding: 0.75rem 1rem;
    transition: background 0.2s;
    cursor: pointer;
    &:hover {
      background: $tint;
    }
  }
  & .more_btn {
    width: 100%;
    color: $blue;
    text-align: left;
    padding: 1rem;
  }

  //
  //
  // TRENDS
  #trends p:not(.topic) {
    font-size: 0.81rem;
    color: $placeholder;
  }
  #trends .topic {
    font-weight: 700;
    margin: 0.35rem 0;
  }

  //
  //
  // FOLLOW
  #follow {
    & li {
      display: flex;
      align-items: center;
      position: relative;
    }
    & .user_icon {
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 100%;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      background: $blue;
      margin-right: 0.75rem;
      font-size: 1.3rem;
      color: white;
    }
    & .name {
      font-weight: 700;
    }
    & .tag {
      margin-top: 0.1rem;
      color: $placeholder;
    }
    & .follow_btn {
      position: absolute;
      right: 1rem;
      color: white;
      font-weight: 700;
      background: black;
      border-radius: $round_radius;
      padding: 0.5rem 1rem;
    }
  }
}

@media only screen and (max-width: 1100px) {
  #right {
    width: 288px;
    margin-left: 1.25rem;
    & #sign_up_or_in button {
      width: 100%;
    }
  }
}

@media only screen and (max-width: 988px) {
  #right {
    display: none;
  }
}

//
//
// CREATE tweeb FORM
.create_tweeb_form, .update_tweeb_form {
  display: flex;
  padding: 0 1rem;

  & .container {
    flex: 1;
  }

  // ACTION BAR (BOTTOM BAR)
  & input {
    display: none;
  }
  & .image_container {
    position: relative;
    margin: 0.75rem 0;
  }
  & img {
    border-radius: 1rem;
    max-height: 504px;
    object-fit: cover;
  }
  & .x {
    position: absolute;
    top: 0.3rem;
    left: 0.3rem;
    width: 2rem;
    height: 2rem;
    padding: 0.4rem;
    background: rgba(0,0,0,0.8);
    cursor: pointer;
    border-radius: 100%;
    transition: opacity 0.2s;
    &:hover {
      opacity: 0.8;
      background: rgba(0,0,0,0.8);
    }
    & svg {
      width: auto;
      height: auto;
      fill: white!important;
    }
  }
  & .action_bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-top: 1px solid $tint-light;
    padding: 0.75rem 0;

    & label {
      width: 2.18rem;
      height: 2.18rem;
      padding: 0.5rem;
      cursor: pointer;
      border-radius: $round_radius;
      transition: background 0.3s;
      &:hover {
        background: $blue_light;
      }
    }
  }
  & svg {
    width: 1.25rem;
    fill: $blue;
  }
  & button {
    background: $blue;
    color: white;
    font-weight: 700;
    border-radius: $round_radius;
    padding: 0.6rem 0.9rem;
  }

  // USER ICON
  & .user_icon {
    width: 3rem;
    height: 3rem;
    border-radius: $round_radius;
    background: $blue;
    margin-right: 0.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.5rem;
  }

  // tweeb TEXT
  & label {
    position: relative;
    display: block;
    padding: 1.1rem 0;
  }
  & textarea {
    display: block;
    width: 100%;
    font-size: 1.25rem;
    overflow: hidden;
    &:focus ~ .counter {
      display: block;
    }
  }
  & .counter {
    font-size: 0.81rem;
    color: $placeholder;
    display: none;
    position: absolute;
    top: 0;
    right: 0;
  }
  &:invalid {
    & button {
      pointer-events: none;
      opacity: 0.3;
    }
  }
}

//
//
// tweeb
.tweeb {
  border-top: 1px solid $tint-light;
  display: flex;
  padding: 0.75rem 1rem 0;
  cursor: pointer;

  &:last-child {
    border-bottom: 1px solid $tint-light;
  }

  &:hover {
    background: $tint_blue;
  }

  & .container {
    flex: 1;
  }
  & .user_icon {
    width: 3rem;
    height: 3rem;
    border-radius: $round_radius;
    background: $blue;
    margin-right: 0.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.5rem;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: inherit;
      transition: background 0.2s;
    }
    &:hover::before {
      background: $overlay;
    }
  }
  & .user_info {
    display: flex;
    & * {
      margin-right: 0.3rem;
      color: $placeholder;
    }

    & .name {
      font-weight: 700;
      color: black;
      display: flex;
      &:hover {
        text-decoration: underline;
      }

      & svg {
        width: 17px;
        height: 17px;
        margin: 0 0 0 0.3rem ;
        fill: $blue;
      }
    }
  }
  & .tweeb_text {
    line-height: 1.2;
    margin-top: 0.3rem;
    min-height: 1.5rem;

    &:last-child {
      margin-bottom: 0.75rem;
    }
  }

  & img {
    margin-top: 0.75rem;
    border-radius: 1rem;
    max-height: 504px;
    object-fit: cover;
  }

  & .action_bar {
    margin: 0.3rem 0;
  }

  & button {
    width: 2.18rem;
    height: 2.18rem;
    padding: 0.5rem;
    border-radius: $round_radius;
    transition: background 0.3s;
    margin-right: 2rem;
    &:hover {
      background: $blue_light;
      & svg {
        fill: $blue;
      }
    }
  }
  & svg {
    transition: fill 0.3s;
    fill: $placeholder;
  }
}
