// Colors
$blue: rgb(29, 155, 240);
$blue_light: rgba(29, 155, 240, 0.1);
$blue_dark: rgb(27, 140, 216);
$white: #fff;
$red: #f61f2e;
$red_light: #ff989f;
$red_opa: #ffe9ea;
$opa-white: rgba(255, 255, 255, 0.7);
$tint: #dfe4e6;
$tint-light: rgba(228, 226, 226, 0.9);
$tint_blue: #f0f4f5;
$tint-dark: #d3d9db;
$grey: #888a8d;
$placeholder: rgb(83, 100, 113);
$overlay: rgba(0, 0, 0, 0.1);

// Shadows
$main-shadow: 0px 3.3px 25.2px -11px rgba(0, 0, 0, 0.48), 0px 23px 388px -11px rgba(0, 0, 0, 0.212);
$blue-shadow: 0px 3.3px 25.2px -11px rgba(29, 155, 240, 0.48), 0px 23px 388px -11px rgba(29, 155, 240, 0.212);

// Border radius
$input_radius: 0.25rem;
$form_radius: 1rem;
$round_radius: 999px;

// Spacings

// Font-sizes
